{% extends 'base.html.twig' %}
{% block title %}EasyDoc{% endblock %}
{% block body %}
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">Mes réservations </div>

                <div class="card-body">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Docteur</th>
                            <th scope="col">Heure</th>
                            <th scope="col">Date for</th>
                            <th scope="col">Créer le</th>
                            <th scope="col">Confirmation</th>
                            <th scope="col">Status</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% if bookings %}
                            {% for booking in bookings %}
                                <tr>
                                    <th scope="row"></th>
                                    <td>{{ doctor.getUserName() }}</td>
                                    <td>{{ booking.getTime() }}</td>
                                    <td>{{ booking.getDate() }}</td>
                                    <td>{{ booking.getCreatedAt() |date('Y-m-d') }}</td>
                                    <td>
                                        {% if booking.confirmation == 0 %}
                                            <a href=""> <button class="btn btn-warning" style='width:10rem;'>Pending</button> </a> 
                                         {% elseif booking.confirmation == 1  %}
                                            <a href=""><button class="btn btn-success" style='width:10rem;'>Confirmed</button></a> 
                                          {% elseif booking.confirmation == 2  %}
                                            <a href=""><button class="btn btn-danger" style='width:10rem;'>Cancelled</button></a> 

                                        {% endif %}
                                    </td>

                                    <td>
                                        {% if booking.status == 0 %}
                                            <button class="btn btn-primary">Not vidited</button>
                                        {% else %}
                                            <button class="btn btn-success">visited</button>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                                <td>Aucune Réservation disponible</td>
                        {% endif %}
                          
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
