{% extends 'base_admin.html.twig' %}

{% block body %}

        <div class="card">
                <div class="card-header">
                    Ajouter un docteur
                </div>
                <div class="card-body">
                            {{form(addDoctor)}}       
                </div>
        </div>

{% endblock %}