
/* CSS Document */

body{
font-family:verdana;
font-size:12px;
}
.gras{
font-weight:bold;
}
.header{
display:none;
}
.haut_table{
display:none;
}
#pagination{
display:none;
}
#copyright{
display:none;
}
#admin_list{
border:#666 1px solid;
}
#admin_list td {
padding:1px;
}
.container_search{
display:none;
}
a{
color:#000;
text-decoration:none;
}
.haut_table{
display:none;
}
.adminlist{
/*display:none;*/
}
#banner{
display:none;
}
