{% extends 'base.html.twig' %}

{% block title %}Messaging Privacy{% endblock %}

{% block body %}


    <div class="container">
        <div class="row mt-4">
            <div class="col-md-8 mx-auto">
                    <h4 class='text-center' >Messaging Privacy</h4>
                    <p>By clicking "Sign Up", you agree to EasyDoc Terms of Use and  Privacy Policy. You consent to receive phone calls and SMS messages from EasyDoc to provide updates on your order and/or for marketing purposes. Message frequency depends on your activity. You may opt-out by texting "STOP" to 07623794. Message and data rates may apply.</p>
            </div>
        </div>
    </div>

{% endblock %}