/* CSS Document */
body{
font: 60% Verdana, Arial, Helvetica, sans-serif;
margin:0;
padding:0;
background:url(../images/background.gif) repeat-y center;
}
#container{
width:778px;
display:block;
padding-right:2px;
}

#header_student{
width:778px;
height:106px;
display:block;
background:url(../images/StudentPortal.jpg);
text-align:right;
}
#header_parent{
width:778px;
height:106px;
display:block;
background:url(../images/ParentPortal.jpg);
text-align:right;
}
#header_professor{
width:778px;
height:106px;
display:block;
background:url(../images/ParentPortal.jpg);
text-align:right;
}
#menu{
width:166px;
display:block;
float:left;
margin-top:5px;
background:url(../images/ambre-menu.gif) no-repeat right top;
}
#menu h3{
width:153px;
height:28px;
background:url(../images/menu.jpg);
color:#FFF;
font-size:14px;
margin-left:1px;
margin:0;
padding:0;
}
#menu ul{
margin:0 0 0 5px;
padding:0;
}
#menu ul li{
list-style:none;
text-align:left;
padding:3px 3px 3px 10px;
background:url(../images/motif.jpg) no-repeat left center;
}
#menu  a{
color:#333;
text-decoration:none;
font-size:11px;
font-family:verdana;
}
#menu  a:hover{
color:#000;
text-decoration:none;
font-weight:normal;
text-transform:none;
font-size:11px;
font-family:verdana;
}
#menu  a:visited{
color:#000;
text-decoration:none;
font-weight:normal;
text-transform:none;
font-size:11px;
font-family:verdana;
}
#titre_page{
font-size:16px;
color:#666;
width:575px;
height:20px;
display:block;
border-bottom:#999 1px solid;
font-weight:bold;
text-align:left;
margin-top:5px;
}
#contenu{
float:right;
width:610px;
vertical-align:top;
}
.entete{
background:url(../images/entete.gif) repeat;
font-weight:bold;
height:17px;
}
.input{
border:ridge #666666 1px;
height:15px;
font-family:verdana;
font-size:11px;
}
#deconnection{
color:#333333;
text-decoration:none;
}
#lien_msj{}
#lien_msj a:link, a:active, a:visited, a:hover{
font-weight:bold;
font-size:9px;
text-decoration:none;
color:#333;
}
/* style pour la page index*/
#autentification{
width:170px;
height:700px;
padding:2px;
float:right;
display:block;
border-left:#333 1px solid;
margin-top:20px;
margin-right:1px
}
#header_intro{
width:778px;
height:106px;
display:block;
background:url(../images/campusportal.jpg);
text-align:right;
}
#actualite{
	width:auto;
	height:auto;
	display:block;
	float:left;
	text-align: center;
}
#inscription{
width:550px;
height:400px;
}
.titre_grand{
font:12px;
font-family:verdana;
font-weight:bold;
color:#FBCB4B;
}
.sous_titre{
font-size:12px;
font-family:verdana;
color:#3A8AE8;
}
#inscription{
width:550px;
height:400px;
}
#footer{
text-align:center;
width:778px;
height:20px;
display:block;
border:none;
font-size:10px;
}
.bouton{
background:url(../images/button_bg.png) repeat center;
font-size:11px;
border:#333333 1px solid;
font-weight:bold;
color:#333333;
}
.fiche_footer{
font-size:10px;
text-align:left;
padding-left:2px;
padding-bottom:2px;
border:#333333 1px solid;
margin-top:5px;
}
.adminlist{
font-family:verdana;
font-size:12px;
margin-top:2px !Important;
empty-cells: show;
}
.adminlist th{
background:url(../images/images/article_background.gif) repeat;
font-size:10px;
font-family:verdana;
font-style:italic;
}
.adminlist td{
font-size:10px;
font-family:verdana;
border:#000000 1px solid;
}
.adminlist p{
margin:0;
padding:1px;
text-align:justify;
}
.footer_table{
background:url(../images/button_bg.png) repeat;
font-weight:bold;
text-align:left;
}
.bold{
font-weight:bold;
}
.cadre{
border:#333333 1px solid;
display:block;
width:12px;
height:16px;
text-align:center;
}
.largeurtd{
width:16px;
}
.td_emploi{
padding:1px;
}
.mauve{
color:#6600CC;
font-weight:bold;
}
.vert{
color:#009933;
font-weight:bold;
}
.bg_red{
background-color:#FF0000;
}
.bg_jaune{
background-color:#FFFF00;
}
#list1{
text-align:left;
font-weight:bold;
width:500px;
height:22px;
display:block;
padding-left:10px;
line-height:22px;
background:url(../images/motif.jpg) no-repeat left center;
}
#list1  a:link, a:visited, a.active{
color:#666666;
text-decoration:none;
}
#list1 a:hover{
color:#004A2B;
text-decoration:underline;
}
.descriptif{
  text-align: left;
  vertical-align: top;
  margin-top:0;
  padding-top:0px;
}
#pagination a:link, a:active, a:visited, a:hover{
font-weight:bold;
text-decoration:none;
color:#333;
}
.cours{
background:top url(../images/menu/cours.jpg);
width:40px;
height:40px;
}
.syllabus{
background:top url(../images/menu/livres.jpg);
width:40px;
height:40px;
}
.inscription{
background:top url(../images/inscrire.gif) no-repeat;
width:37px;
height:37px;
margin-bottom:3px
}
.descriptif{
background:top url(../images/menu/bibliotheque.jpg) no-repeat;
width:40px;
height:40px;
}
.etudiant{
background:top url(../images/menu/etudiants.jpg);
width:40px;
height:40px;
}
.fiche{
background:url(../images/menu/toggle_f2.png) top no-repeat;
margin-bottom:4px;
margin-top:4px;
width:34px;
height:32px;
}
.absence{
background:top url(../images/menu/absence.jpg);
width:40px;
height:40px;
}
.detail{
background:top url(../administrator/images/icone/cours.gif);
width:40px;
height:40px;
}
.retour{
background:url(../images/bt_retour_btk.gif) top no-repeat;
width:34px;
height:32px;
}
.note{
background:url(../images/fiche_vierge.gif) top no-repeat;
width:40px;
height:40px;
}
.notes{
background:url(../images/menu/notes.jpg) top no-repeat;
width:40px;
height:40px;
}
.imprimer{
background:url(../images/print_f2.png) center no-repeat; width:34px; height:32px; margin-bottom:4px; margin-top:4px
}
.edit{
background:url(../administrator/images/edit.png) top  no-repeat; width:40px; height:32px;margin-bottom:4px; margin-top:4px
}
.cancel{
background:url(../administrator/images/delete.png) top  no-repeat; width:40px; height:32px;margin-bottom:4px; margin-top:4px
}
.back{
background:url(../images/bt_retour_btk.gif) top no-repeat;width:48px;height:45px
}
.add{
background:url(../images/new.png) top no-repeat ; width:34px; height:32px;margin-bottom:4px; margin-top:4px
}
.delete{
background:url(../images/delete.png) top no-repeat; width:34px; height:32px;margin-bottom:4px;
margin-top:4px;
}
.descr{
background:url(../images/descriptif.png) top no-repeat; width:34px; height:32px;margin-bottom:4px;
margin-top:4px;
}
.syll{
background:url(../images/syllabus.png) top no-repeat; width:34px; height:32px;margin-bottom:4px;
margin-top:4px;
}
#sous_logo{
font-weight:bold; width:70px; float:right; padding-left:10px; text-align:center;
}
#formulaire{
color:#6666CC; font-weight:bold; text-align:center;
}
#for_esm{
color:#FF0000; font-weight:bold;
}
#sous_logo{
font-weight:bold; width:70px; float:right; padding-left:10px; text-align:center; color:#333;
}
#tit{
color:#339933; font-weight:bold; text-align:center;
}
#version{
color:#666666; font-weight:bold;
}
#titre_cours{
width:550px; height:17px; display:block;
}
#titre1{
width:550px; height:17; display:inline;
}
.buletin_header{
border:1px solid #000;
text-align:left;
font-size:11px;
}
.buletin_data{
font-size:11px;
text-align:left;
border-collapse:collapse;
margin-top:10px;
border-color:#000;
}
.buletin_data th{
font-size:11px;
border-color:#000;
 }
 .code{
 font-size:10px;
 font-weight:bold;
 }
.gras{
  font-weight:bold;
  font-size:10px;
}
