/* CSS Document */
font-weight:bold;
}
@page {
    size :21.0cm 29.7cm;
    margin: 5cm 10cm;
}
body { 
    background: #fff;
}
#footer, #top, #leftnav, #rightnav { 
    display:none;
}
#main {
    position: absolute; 
    top:0; 
    left: 0; 
    width: 100%;
	font-size:11px;
	font-family:verdana;
}
.gras{
font-weight:bold;
}
.souligne{
text-decoration:underline;
}
#check{
display:none;
}
.fiche_footer{
font-size:10px;
text-align:left; 
padding-left:2px; 
padding-bottom:2px; 
border:#333333 1px solid;
margin-top:5px;
}
/*.adminlist{
font-family:verdana;
font-size:12px;
margin-top:2px !Important;
}
.adminlist th{
font-size:10px;
font-family:verdana;
font-style:italic;
}
.adminlist td{
font-size:10px;
font-family:verdana;
border:#000000 1px solid;
}*/
/*ajout pour impression*/
#header_professor, #menu, #titre_page{
display:none;
}
#sous_logo{
font-weight:bold; width:70px; float:right; padding-left:10px; text-align:center;
}
#formulaire{
color:#6666CC; font-weight:bold; text-align:center;
}
#for_esm{
color:#FF0000; font-weight:bold;
}
#tit{
color:#339933; font-weight:bold; text-align:center;
}
#version{
color:#666666; font-weight:bold;
}
table{
width:auto;
}
.msj{
display:none;
}